body{
      display: grid;
      place-items: center;
      background-image: url(./img/moroccan-flower-dark.png);
}
.container{
      display: grid;
      width: 800px;
      height: 100%;
}

.foto-nombre{
    background-image: url(./img/banner.jpg);
    padding: 20px;
    display: flex;
    place-items: center;
}
.foto{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}
.container-nombre{
    padding: 25px;
    color: white;
    text-align: center;
    width: 520px;
}
.nombre{
    font-size: 31px;
}
.container-inf{
    display: flex;
}
.container-iz{
    padding: 30px;
    width: 40%;
    background-color: white;
}
.icono-contacto div{
    display:flex;
    flex-direction: row;
    place-items: center;
}
.icono-contacto div ~ p{
    text-align: center;
}
.img-contacto{
    width: 30px;
    height: 30px;
    margin-right: 40px;
}
.img-contacto:hover{
    background-color: rgb(76, 113, 182);
}
.container-de{
    width: 60%;
    padding: 30px;
    background-color: rgb(231, 231, 231);
}
.subtitulos{
    border-bottom: 5px solid rgb(19, 37, 70);
}
.lista li{
    margin-bottom: 10px;
}
.footer{
    display: flex;
    background-image: url(./img/banner.jpg);
    justify-content: center;
}
.icono-footer{
    width: 60px;
    height: 60px;
    padding: 20px;
}
.icono-footer:hover{
    background-color: rgb(76, 113, 182);
    border-radius: 50%;
}
